<title>My Profile</title>
<app-header-block></app-header-block>

<a mat-raised-button color="primary" (click)="createNewCollection()">Create new collection</a>
<h2>My collections</h2>
<h4 *ngIf="check==false">You don't have collections,but you can try to start!</h4>
<div *ngIf="check==true">
    <a>
    </a>
    <div *ngFor="let col of collections ">
            <mat-card class="example-card">
                <mat-card-title-group>

                    <mat-card-title>Collection name:{{col.name}}</mat-card-title>
                    <mat-card-subtitle><h2>Description: {{col.description}}</h2>
                        <h2>Topic: {{col.topic}}</h2>
                    </mat-card-subtitle>
                    <img *ngIf="(col.image)!= null" mat-card-md-image src="{{col.image.imageUrl}}">
                    <mat-card-actions>
                        <a mat-button  (click)="goCheck(col.id)">View</a>
                        <a mat-raised-button color="accent" (click)="edit(col.id)">Edit</a>
                        <a mat-raised-button color="warn" (click)="deleteItem(col.id)" >Delete</a>
                    </mat-card-actions>
                </mat-card-title-group>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        <p></p>
    </div>
</div>







