@import '~@angular/material/theming';

@mixin app-root-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  background-color: mat-color($background, background);
  h1,h2,h3,h4,h5 {
    color: mat-color($foreground, text);
  }
}

@mixin app-root-typography($config) {
  app-root {
    h1 {
      @include mat-typography-level-to-styles($config, title);
    }
  }
}