<h1 mat-dialog-title>{{'page.view.dialog.newcom'|translate}}</h1>
<div mat-dialog-content>
    <p>{{'page.view.dialog.com'|translate}}</p>
    <mat-form-field [formGroup]="formControl">
        <input matInput formControlName="mes" [(ngModel)]="data.mes" required>
    </mat-form-field>
</div>
<button mat-button (click)="noClick()">{{'page.view.dialog.no'|translate}}</button>
<button mat-button  [disabled]="!formControl.valid" [mat-dialog-close]="data.mes" cdkFocusInitial>{{'page.view.dialog.yes'|translate}}</button>

