.main-block{
    text-align:center;
}

.comment-block{
    position:relative;
    display: flex;
    align-self: center;
    margin-bottom: 0;

}
h1{
    text-align: center;
}
.example-card{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
}



.viewport {
    height: 400px;
    width: 100%;
    background: #3F51B5;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0;
    box-shadow: 5px 5px 5px grey;
}