<title>{{'page.login.title' | translate}}</title>
<app-header-block></app-header-block>
<div id="login_form">
    <form class="example-form"  [formGroup]="formControl">
        <h2>{{'page.login.login' | translate}}</h2>
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required name="email" [(ngModel)]="user.email" autocomplete="on" >
            </mat-form-field>
        </p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'page.login.pass'| translate}}</mat-label>
            <input matInput formControlName="password" type="password"
                   [(ngModel)]="user.password" autocomplete="on" required>
            <button mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            </button>
        </mat-form-field>

        <h4 *ngIf="auth.authError" class="text-center wdi-red">{{'page.login.error' | translate}}</h4>
    </form>
    <button mat-raised-button color="primary"
            [disabled]="!formControl.valid" (click)="onSubmit()">{{'page.login.signin' | translate}}</button>
    <p></p>
    <a mat-raised-button color="primary" routerLink="/reg">{{'page.login.reg' | translate}}</a>
</div>




