<mat-toolbar class="footer" >
    <mat-slide-toggle color="accent" [checked]="isDarkMode"
                      (change)="onDarkModeSwitched($event)">
        {{'page.bars.theme' | translate}}
    </mat-slide-toggle>
    <span class="example-spacer"></span>
    <mat-button-toggle-group>
        <mat-button-toggle class="btn btn-info" value="en" (click)="switchLanguage('en')">en</mat-button-toggle>
        <mat-button-toggle class="btn btn-info" value="ru" (click)="switchLanguage('ru')">ru</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>


